<% let pageId  = 'home'; %>

<%- include('./common/_header', {pageId:pageId }) %>

<%# console.log(jsonData) %>
<div class="p-archive">
  <div class="p-archive__inner l-container">
    <main id="main" class="p-archive__main">
      <h2 class="p-archive__heading">
        All Posts
      </h2>
      <div class="p-archive__cards">
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              Vue.js
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-vue.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Vue-CLIのインストール時、vueコマンドエラーについてVue-CLIのインストール時、vueコマンドエラーについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/04/06
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              JavaScript 
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-js.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                テンプレートリテラルについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              HTML / CSS
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-html.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                カード型モジュールのコーディング時に気をつけること
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              HTML / CSS
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-scss.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                OSでもWebサイト側でも切り替えられるダークモードを実装する
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              Vue.js
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-vue.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Vue-CLIのインストール時、vueコマンドエラーについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              HTML / CSS
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-scss.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Webのダークモード対応をSCSS変数で管理する方法を考える
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              Vue.js
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-test02.png" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Vue-CLIのインストール時、vueコマンドエラーについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>


        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              Webデザイン
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-test01.png" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Vue-CLIのインストール時、vueコマンドエラーについてVue-CLIのインストール時、vueコマンドエラーについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              JavaScript
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-js.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                actions/github-scriptとoctokit/rest.jsでお手軽ワークフロー
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              アクセシビリティ
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-html.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                キーボード操作を意識したHTML/CSSコーディングについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              HTML / CSS
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-scss.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Vue-CLIのインストール時、vueコマンドエラーについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              Vue.js
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-vue.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Vue-CLIのインストール時、vueコマンドエラーについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              Vue.js
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-vue.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Vue-CLIのインストール時、vueコマンドエラーについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              Vue.js
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-vue.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Vue-CLIのインストール時、vueコマンドエラーについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
      </div>
      <div class="p-archive__pagination c-pagination">
        <a href="" class="next page-numbers">
          &lt;
        </a>
        <a href="" class="page-numbers current">1</a>
        <a href="" class="page-numbers">2</a>
        <a href="" class="page-numbers">3</a>
        <a href="" class="prev page-numbers">
          &gt;
        </a>
      </div>
    </main>

    <%- include('./common/_sidebar') %>
  </div>
</div>



<%- include('./common/_footer', {pageId:pageId }) %>