<% let pageId  = 'home'; %>

<%- include('./common/_header', {pageId:pageId }) %>

<%# console.log(jsonData) %>
<div class="p-archive">
  <div class="p-archive__inner l-container">
    <main class="p-archive__main">
      <h2 class="p-archive__heading">
        All Posts
      </h2>
      <div class="p-archive__cards">
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              Vue.js
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-vue.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Vue-CLIのインストール時、vueコマンドエラーについてVue-CLIのインストール時、vueコマンドエラーについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/04/06
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              JavaScript 
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-js.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                テンプレートリテラルについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              HTML / CSS
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-html.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                カード型モジュールのコーディング時に気をつけること
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              HTML / CSS
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-scss.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                OSでもWebサイト側でも切り替えられるダークモードを実装する
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              Vue.js
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-vue.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Vue-CLIのインストール時、vueコマンドエラーについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              HTML / CSS
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-scss.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Webのダークモード対応をSCSS変数で管理する方法を考える
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              Vue.js
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-test02.png" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Vue-CLIのインストール時、vueコマンドエラーについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>


        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              Vue.js
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-test01.png" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Vue-CLIのインストール時、vueコマンドエラーについてVue-CLIのインストール時、vueコマンドエラーについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              JavaScript
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-js.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                actions/github-scriptとoctokit/rest.jsでお手軽ワークフロー
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              HTML / CSS
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-html.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                キーボード操作を意識したHTML/CSSコーディングについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              HTML / CSS
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-scss.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Vue-CLIのインストール時、vueコマンドエラーについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              Vue.js
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-vue.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Vue-CLIのインストール時、vueコマンドエラーについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              Vue.js
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-vue.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Vue-CLIのインストール時、vueコマンドエラーについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
        <article class="p-archive__card">
          <a href="/single/" class="p-card">
            <span class="p-card__category">
              Vue.js
            </span>
            <div class="p-card__thumbnail">
              <img src="/img/common/img-vue.jpeg" alt="" class="p-card__img">
            </div>
            <div class="p-card__body">
              <h3 class="p-card__title">
                Vue-CLIのインストール時、vueコマンドエラーについて
              </h3>
              <time class="p-card__date" datetime="">
                2022/03/31
              </time>
            </div>
          </a>
        </article>
      </div>
      <div class="p-archive__pagination c-pagination">
        <a href="" class="next page-numbers">
          &lt;
        </a>
        <a href="" class="page-numbers current">1</a>
        <a href="" class="page-numbers">2</a>
        <a href="" class="page-numbers">3</a>
        <a href="" class="prev page-numbers">
          &gt;
        </a>
      </div>
    </main>

    <aside class="p-archive__sidebar p-sidebar">
      <div class="p-sidebar__head">
        <h2 class="p-sidebar__heading">
          プロフィール
        </h2>
        <a href="" class="p-sidebar__card">
          <div class="p-sidebar__card-thumbnail">
            <img src="/img/common/portfolio.png" alt="" class="p-sidebar__card-img">
          </div>
          <p class="p-sidebar__card-text">
            ポートフォリオサイトを公開しました。
          </p>
        </a>
      </div>
      <div class="p-sidebar__content">
        <h2 class="p-sidebar__heading">
          メディア・SNS
        </h2>
        <div class="p-sidebar__body">
          <ul class="p-sidebar__list">
            <li class="p-sidebar__item">
              <a href="https://twitter.com/coco_hack_ll" class="p-sidebar__link" target="_blank" rel="noopener noreferrer">
                Twitter<span class="u-hidden">（(新しいウィンドウが開きます)）</span>
                <svg class="p-sidebar__blank-icon" width="13" height="13" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="m21 13v10h-21v-19h12v2h-10v15h17v-8zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172z" />
                </svg>
              </a>
            </li>
            <li class="p-sidebar__item">
              <a href="https://github.com/kokoro-hart" class="p-sidebar__link" target="_blank" rel="noopener noreferrer">
                GitHub<span class="u-hidden">（(新しいウィンドウが開きます)）</span>
                <svg class="p-sidebar__blank-icon" width="13" height="13" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="m21 13v10h-21v-19h12v2h-10v15h17v-8zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172z" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="p-sidebar__content p-sidebar__sticky">
        <h2 class="p-sidebar__heading">
          カテゴリ
        </h2>
        <div class="p-sidebar__body">
          <ul class="p-sidebar__list">
            <li class="p-sidebar__item">
              <a href="" class="p-sidebar__link">
                HTML / CSS
              </a>
            </li>
            <li class="p-sidebar__item">
              <a href="" class="p-sidebar__link">
                JavaScript
              </a>
            </li>
            <li class="p-sidebar__item">
              <a href="" class="p-sidebar__link">
                WordPress
              </a>
            </li>
            <li class="p-sidebar__item">
              <a href="" class="p-sidebar__link">
                git
              </a>
            </li>
            <li class="p-sidebar__item">
              <a href="" class="p-sidebar__link">
                Webデザイン
              </a>
            </li>
            <li class="p-sidebar__item">
              <a href="" class="p-sidebar__link">
                UI / UX
              </a>
            </li>
            <li class="p-sidebar__item">
              <a href="" class="p-sidebar__link">
                アクセシビリティ
              </a>
            </li>
            <li class="p-sidebar__item">
              <a href="" class="p-sidebar__link">
                インタラクションデザイン
              </a>
            </li>
          </ul>
        </div>
      </div>
    </aside>
  </div>
</div>



<%- include('./common/_footer', {pageId:pageId }) %>