@use "foundation/global";

// Component 送信ボタン
//--------------------------------------------------------------------------

.c-button-submit {
  display: inline-block;
  border-radius: 28px;
  max-width: 273px;
  width: 100%;
  padding: 15px 20px;
  @include global.fz(14, 16);
  @include global.lh(1.44);
  font-weight: 600;
  background-color: global.$color-primary;
  color: global.$color-base-thin;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @include global.mq(md) {
    max-width: 360px;
    padding: 18px 22px;
  }
}