@use "foundation/global";

// Layout コンテナ
//--------------------------------------------------------------------------

.l-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right:14px;
  padding-left: 14px;

  @include global.mq(md) {
    max-width: 1180px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.l-container--sp-full-width {
  padding: 0;

  @include global.mq(md) {
    padding-right: 40px;
    padding-left: 40px;
  }
}