@use "foundation/global";

// Layout メインコンテンツ
//--------------------------------------------------------------------------

.l-content {
  z-index: map-get(global.$layer, main);
  width: 100%;
  flex: 1;
}