@use "foundation/global";

// Project 記事一覧ページ
//--------------------------------------------------------------------------

.p-archive {
  margin-top: 32px;
  margin-bottom: 52px;

  @include global.mq(md) {
    margin-top: 52px;
    margin-bottom: 84px;
  }

  @include global.mq(lg) {
    display: flex;
    justify-content: space-between;
  }
}

.p-archive__heading {
  @include global.fz(20, 24);
  @include global.lh(1.44);
  font-weight: 600;
}

.p-archive__main {
  @include global.mq(lg) {
    width: calc(100% - 290px - 3.51%);
  }

  @include global.mq(1024px, min) {
    width: calc(100% - 340px - 3.51%);
  }
}

.p-archive__sidebar {
  width: 100%;

  @include global.mq(lg) {
    max-width: 290px;
  }

  @include global.mq(1024px, min) {
    max-width: 340px;
  }
}

.p-archive__posts {
  padding-right:14px;
  padding-left: 14px;

  @include global.mq(md) {
    padding: 0;
  }
}

.p-archive__cards {
  margin-top: 18px;

  @include global.mq(md) {
    margin-top: 24px;
  }
}

.p-archive__card {
  width: 100%;
  margin-bottom: 18px;

  @include global.mq(md) {
    margin-bottom: 24px;
  }
}

.p-archive__pagination {
  width: 100%;
  margin-top: 32px;

  @include global.mq(md) {
    margin-top: 52px;
  }
}