@use "foundation/global";

// Project プロフィール
//--------------------------------------------------------------------------

.p-profile__head {
  display: grid;
  grid-template-columns: 110px 1fr;
  grid-template-rows: 110px 1fr;

  @include global.mq(sm) {
    grid-template-rows: repeat(2, 1fr);
  }

  @include global.mq(991px, min) {
    grid-template-rows: 110px 1fr;
  }
}

.p-profile__img {
  grid-area: 1 / 1 / 2 / 2;
  border: 1px solid global.$color-secondary-thin;
  border-radius: 50%;
  width: 100%;
  max-width: 110px;

  @include global.mq(sm) {
    grid-area: 1 / 1 / 3 / 2;
  }

  @include global.mq(991px, min) {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.p-profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: 1 / 2 / 2 / 3;
  margin-left: 24px;

  @include global.mq(sm) {
    grid-area: 1 / 2 / 2 / 3;
  }

  @include global.mq(991px, min) {
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 12px;
  }
}

.p-profile__name {
  @include global.fz(16);
  @include global.lh(1.44);
  font-weight: 600;
}

.p-profile__text {
  grid-area: 2 / 1 / 3 / 3;
  margin-top: 14px;
  @include global.fz(14, 14.45);
  @include global.lh(1.71);

  @include global.mq(sm) {
    grid-area: 2 / 2 / 3 / 3;
    margin-left: 24px;
  }

  @include global.mq(991px, min) {
    grid-area: 2 / 1 / 3 / 3;
    margin-left: 0;
  }
}

.p-profile__list {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.p-profile__item {
  &:not(:first-child) {
    margin-left: 12px;

    @include global.mq(lg) {
      margin-left: 10px;
    }
  }
}

.p-profile__link {
  display: block;

  &:hover,
  &:focus {
    .p-profile__svg {
      color: global.$color-primary;
    }
  }
}

.p-profile__svg {
  color: global.$color-primary-thin;
}
