@use "foundation/global";

// Project 関連記事
//--------------------------------------------------------------------------

.p-related {
  width: 100%;
  padding-bottom: 84px;
}

.p-related__heading {
  @include global.fz(24, 28);
  @include global.lh(1);
  font-weight: 600;
}

.p-related__cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.p-related__card {
  width: calc(50% - 3% / 2);
  margin-bottom: 3%;

  &:not(:first-child) {
    margin-left: 3%;
  }

  @include global.mq(lg, max) {
    &:nth-child(2n + 1) {
      margin-left: 0;
    }
  }

  @include global.mq(lg) {
    margin-bottom: 0;
    width: calc(25% - 3% * 3 / 4);
  }
}
