@use "foundation/global";

// Project サイドバー
//--------------------------------------------------------------------------

.p-sidebar {
  margin-top: 84px;

  @include global.mq(lg) {
    margin-top: 0;
  }
}

.p-sidebar__sticky {
  position: sticky;
  top: 0;
  padding-top: 32px;
}

.p-sidebar__heading {
  @include global.fz(16, 18);
  @include global.lh(1.2);
  font-weight: 600;
}

.p-sidebar__content {
  background-color: global.$color-base-thin;
  padding: 40px 20px;

  @include global.mq(md) {
    border-radius: 5px;
  }
  &:not(:first-child) {
    margin-top: 32px;
  }
}

.p-sidebar__list {
  margin-top: 18px;
  border-bottom: 1px solid global.$color-secondary;

  .cat-item {
    border-top: 1px solid global.$color-secondary;
    a {
      display: block;
      padding: 10px 0;
      @include global.fz(14, 14.45);
      @include global.lh(1.77);
      font-weight: 400;
    }
  }
}