@use "foundation/global";

// Project サイドバー
//--------------------------------------------------------------------------

.p-sidebar {
  border-radius: 10px;
  box-shadow: global.$box-shadow-thin;
  background-color: global.$color-base-thin;
  margin-top: 84px;
  padding: 40px 20px;

  @include global.mq(lg) {
    margin-top: 0;
  }
}

.p-sidebar__sticky {
  position: sticky;
  top: 0;
}

.p-sidebar__heading {
  @include global.fz(16, 18);
  @include global.lh(1.2);
  font-weight: 600;
}

.p-sidebar__content {
  padding-top: 52px;
}

.p-sidebar__list {
  margin-top: 18px;
}

.p-sidebar__item {
  &:not(:first-child) {
    margin-top: 7px; 
  }
}

.p-sidebar__link {
  display: block;
  color: global.$color-primary-thin;
  @include global.fz(14, 14.45);
  @include global.lh(1.77);
  font-weight: 600;

  &:hover,
  &:focus {
    color: global.$color-primary;
  }
}