@use "foundation/global";

// Project 記事詳細ページ
//--------------------------------------------------------------------------

.p-single__main {
  border-radius: 10px;
  box-shadow: global.$box-shadow;
  background-color: global.$color-base-thin;
  padding: 20px 16px;

  @include global.mq(md) {
    padding: 40px;
  }
}

.p-single__date {
  @include global.fz(14);
  @include global.lh(1.2);
  color: global.$color-primary-thin;
  font-weight: 600;
}

.p-single__heading {
  margin-top: 4px;
  @include global.fz(24, 28);
  @include global.lh(1.44);
  font-weight: 600;
}

.p-single__category {
  display: inline-block;
  border-radius: 10px;
  margin-top: 4px;
  padding: 3px 6px;
  color: global.$color-base-fix;
  background-color: global.$color-accent;
  @include global.fz(12);
  @include global.lh(1.3);
  font-weight: 600;
  text-align: center;
}

.p-single__thumbnail {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 32px;
  padding-top: calc(9 / 16 * 100%);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 2px solid global.$color-secondary;
    border-radius: 10px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    @include global.object-fit(cover, center);
  }
}

.p-single__contents {
  margin-top: 1.5em;
  h1,
  h2,
  h3 {
    font-weight: 600;
  }

  h1 {
    margin-top: 84px;
    margin-bottom: 18px;
    @include global.fz(24, 28);
    @include global.lh(1.5);
    padding-bottom: 5px;
    border-bottom: 2px solid global.$color-secondary;
  }

  h2 {
    margin-top: 60px;
    margin-bottom: 12px;
    @include global.fz(20, 24);
    @include global.lh(1.5);
  }

  h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    @include global.fz(18, 20);
    @include global.lh(1.5);
  }

  p {
    margin-top: 0.3em;
    @include global.fz(14, 16);
    @include global.lh(1.77);
    letter-spacing: 0.1em;
  }

  P + P {
    margin-top: 1.5em;
  }

  a {
    color: global.$color-accent;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  ul {
    margin: 1.4em 0;
    padding-left: 18px;

    li {
      list-style: disc;
      @include global.fz(14, 16);
      @include global.lh(1.77);

      &::marker {
        color: global.$color-primary-thin;
        font-size: 1.1em;
        unicode-bidi: isolate;
        font-variant-numeric: tabular-nums;
        text-transform: none;
        text-indent: 0px !important;
        text-align: start !important;
        text-align-last: start !important;
      }

      &:not(:first-child) {
        margin-top: 18px;
        @include global.fz(14, 16);
        @include global.lh(1.44);
      }
    }
  }

  .wp-block-image {
    margin-top: 32px;
  }

  //目次
  .toc {
    position: relative;
    border-radius: 7px;
    margin-top: 32px;
    padding: 20px 16px;
    background: global.$color-secondary;
  }
  .toc-title {
    @include global.fz(20, 24);
    @include global.lh(1.44);
    font-weight: 600;
  }
  .toc-toggle {
    position: absolute;
    right: 12px;
  }
  .toc-list {
    li {
      a {
        color: global.$color-primary;
      }
    }
  }
}
