@use "foundation/global";

// Project 格活
//-------------------------------------------------------------------------

//格活
.p-toc {
  border-radius: 7px;
  margin-top: 32px;
  padding: 1px 20px 20px;
  background: global.$color-secondary;

  @include global.mq(md) {
    padding: 1px 24px 24px;
  }
}

.p-toc__title {
  @include global.fz(20, 24);
  @include global.lh(1.44);
  font-weight: 600;
}

.p-toc__list {
  li {
    a {
      color: global.$color-primary;
    }
  }
}