@use "foundation/global";

// Project コンテンツ 目次
//-------------------------------------------------------------------------

.p-toc {
  border-radius: 3px;
  margin-top: 32px;
  padding: 1px 20px 20px;
  border: 1px solid global.$color-secondary;

  @include global.mq(md) {
    padding: 1px 24px 24px;
  }
}

.p-toc__title {
  @include global.fz(20, 24);
  @include global.lh(1.44);
  font-weight: 600;
}

.p-toc__body {
  li {
    a {
      color: global.$color-primary;
      font-weight: 600;
    }

    ul {
      li {
        a {
          font-weight: 400;
        }
      }
    }
  }
}