<footer class="l-footer p-footer">
  <div class="p-footer__inner l-container">
    <ul class="p-footer-nav">
      <li class="p-footer-nav__item">
        <a href="/" class="p-footer-nav__link">
          記事一覧
        </a>
      </li>
      <li class="p-footer-nav__item">
        <a href="/about/" class="p-footer-nav__link">
          このサイトについて
        </a>
      </li>
      <li class="p-footer-nav__item">
        <a href="/contact/" class="p-footer-nav__link">
          お問い合わせ
        </a>
      </li>
    </ul>
  </div>
  <p class="p-footer__copyright">
    <small lang="en">
      ©copyright 2022 KT MEDIA
    </small>
  </p>
</footer>

</div><!-- /wrapper -->

<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/highlight.min.js"></script>
<script src="/js/bundle.js"></script>
</body>

</html>