<aside class="p-archive__sidebar p-sidebar">
  <div class="p-sidebar__inner">
    <div class="p-sidebar__profile p-profile">
      <h2 class="p-sidebar__heading">
        管理人
      </h2>
      <div class="p-profile__head">
        <img src="/img/common/profile.jpeg" alt="プロフィール画像" class="p-profile__img">
        <div class="p-profile__info">
          <h3 class="p-profile__name">K.Tobita</h3>
          <ul class="p-profile__list">
            <li class="p-profile__item">
              <a href="https://twitter.com/coco_hack_ll" class="p-profile__link" target="_blank" rel="noopener noreferrer">
                <svg class="c-svg p-profile__svg" width="20" height="20" aria-label="GitHubのアイコン">
                  <use xlink:href="/img/svg/sprite.min.svg#icon-github" />
                </svg>
                <span class="u-hidden">(新しいウィンドウが開きます)</span>
              </a>
            </li>
            <li class="p-profile__item">
              <a href="https://github.com/kokoro-hart" class="p-profile__link" target="_blank" rel="noopener noreferrer">
                <svg class="c-svg p-profile__svg" width="20" height="20" aria-label="Twitterのアイコン">
                  <use xlink:href="/img/svg/sprite.min.svg#icon-twitter" />
                </svg>
                <span class="u-hidden">(新しいウィンドウが開きます)</span>
              </a>
            </li>
            <li class="p-profile__item">
              <a href="https://kt-portfolio.site" class="p-profile__link" target="_blank" rel="noopener noreferrer">
                <svg class="c-svg p-profile__svg" width="20" height="20" aria-label="サイトリンクのアイコン">
                  <use xlink:href="/img/svg/sprite.min.svg#icon-site" />
                </svg>
                <span class="u-hidden">(新しいウィンドウが開きます)</span>
              </a>
            </li>
          </ul>
        </div>
        <p class="p-profile__text">
          マークアップエンジニアを目指して日々勉強中です。デザインもコーディングも大好きです。
        </p>
      </div>
    </div>

    <div class="p-sidebar__content">
      <h2 class="p-sidebar__heading">
        カテゴリ
      </h2>
      <ul class="p-sidebar__list">
        <li class="p-sidebar__item">
          <a href="" class="p-sidebar__link">
            HTML / CSS
          </a>
        </li>
        <li class="p-sidebar__item">
          <a href="" class="p-sidebar__link">
            JavaScript
          </a>
        </li>
        <li class="p-sidebar__item">
          <a href="" class="p-sidebar__link">
            WordPress
          </a>
        </li>
        <li class="p-sidebar__item">
          <a href="" class="p-sidebar__link">
            git
          </a>
        </li>
        <li class="p-sidebar__item">
          <a href="" class="p-sidebar__link">
            Webデザイン
          </a>
        </li>
        <li class="p-sidebar__item">
          <a href="" class="p-sidebar__link">
            UI / UX
          </a>
        </li>
        <li class="p-sidebar__item">
          <a href="" class="p-sidebar__link">
            アクセシビリティ
          </a>
        </li>
        <li class="p-sidebar__item">
          <a href="" class="p-sidebar__link">
            インタラクションデザイン
          </a>
        </li>
      </ul>
    </div>
  </div>

  <section class="p-toc-sidebar p-sidebar__sticky u-hidden-lg-down">
    <div class="p-toc-sidebar__inner">
      <h2 class="p-toc-sidebar__title">目次</h2>
      <nav class="p-toc-sidebar__body">
        <ul>
          <li><a data-id="#chapter-1" href="#chapter-1">はじめに</a></li>
          <li><a data-id="#chapter-2" href="#chapter-2">非同期処理と同期処理</a>
            <ul>
              <li><a data-id="#chapter-3" href="#chapter-3">同期処理のイメージ</a></li>
              <li><a data-id="#chapter-4" href="#chapter-4">非同期処理のイメージ</a></li>
            </ul>
          </li>
          <li><a data-id="#chapter-5" href="#chapter-5">非同期処理の実装方法</a></li>
          <li><a data-id="#chapter-6" href="#chapter-6">Promiseの基本理解</a>
            <ul>
              <li><a data-id="#chapter-7" href="#chapter-7">Promise の状態</a></li>
              <li><a data-id="#chapter-8" href="#chapter-8">基本構文</a></li>
              <li><a data-id="#chapter-9" href="#chapter-9">resolve</a></li>
              <li><a data-id="#chapter-10" href="#chapter-10">reject</a></li>
              <li><a data-id="#chapter-11" href="#chapter-11">実際に同期処理と非同期処理を走らせてみる</a></li>
            </ul>
          </li>
          <li><a data-id="#chapter-12" href="#chapter-12">new Promiseの糖衣構文</a>
            <ul>
              <li><a data-id="#chapter-13" href="#chapter-13">Promise.resolve</a></li>
              <li><a data-id="#chapter-14" href="#chapter-14">Promise.reject</a></li>
            </ul>
          </li>
          <li><a data-id="#chapter-15" href="#chapter-15">Promiseチェーン</a></li>
          <li><a data-id="#chapter-16" href="#chapter-16">Promiseの並列処理</a>
            <ul>
              <li><a data-id="#chapter-17" href="#chapter-17">Promise.all</a></li>
              <li><a data-id="#chapter-18" href="#chapter-18">Promise.race</a></li>
              <li><a data-id="#chapter-19" href="#chapter-19">Promise.allSettled</a></li>
            </ul>
          </li>
          <li><a data-id="#chapter-20" href="#chapter-20">制御予測の基本を学ぶ</a>
            <ul>
              <li><a data-id="#chapter-21" href="#chapter-21">Event Loop(イベントループ)の基本理解</a></li>
              <li><a data-id="#chapter-22" href="#chapter-22">用語の整理</a></li>
              <li><a data-id="#chapter-23" href="#chapter-23">Macrotask(マクロタスク)とMicrotask(マイクロタスク)の違い</a></li>
              <li><a data-id="#chapter-24" href="#chapter-24">マイクロタスクはマクロタスクより先に処理される</a></li>
              <li><a data-id="#chapter-25" href="#chapter-25">マイクロタスクの実行中にマクロタスクを追加してみる</a></li>
            </ul>
          </li>
          <li><a data-id="#chapter-26" href="#chapter-26">async / await</a>
            <ul>
              <li><a data-id="#chapter-27" href="#chapter-27">async function</a></li>
              <li><a data-id="#chapter-28" href="#chapter-28">await</a></li>
            </ul>
          </li>
          <li><a data-id="#chapter-29" href="#chapter-29">Promiseチェーンをasync / awaitで書き換える</a>
            <ul>
              <li><a data-id="#chapter-30" href="#chapter-30">逐次処理の書き換え</a></li>
            </ul>
          </li>
          <li><a data-id="#chapter-31" href="#chapter-31">さいごに</a></li>
          <li><a data-id="#chapter-32" href="#chapter-32">参考文献</a></li>
        </ul>
      </nav>
    </div>
  </section>
</aside>