<aside class="p-archive__sidebar p-sidebar">
  <div class="p-sidebar__head">
    <h2 class="p-sidebar__heading">
      プロフィール
    </h2>
    <a href="" class="p-sidebar__card">
      <div class="p-sidebar__card-thumbnail">
        <img src="/img/common/portfolio.png" alt="" class="p-sidebar__card-img">
      </div>
      <p class="p-sidebar__card-text">
        ポートフォリオサイトを公開しました。
      </p>
    </a>
  </div>
  <div class="p-sidebar__content">
    <h2 class="p-sidebar__heading">
      メディア・SNS
    </h2>
    <div class="p-sidebar__body">
      <ul class="p-sidebar__list">
        <li class="p-sidebar__item">
          <a href="https://twitter.com/coco_hack_ll" class="p-sidebar__link" target="_blank" rel="noopener noreferrer">
            Twitter<span class="u-hidden">（(新しいウィンドウが開きます)）</span>
            <svg class="p-sidebar__blank-icon" width="13" height="13" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="m21 13v10h-21v-19h12v2h-10v15h17v-8zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172z" />
            </svg>
          </a>
        </li>
        <li class="p-sidebar__item">
          <a href="https://github.com/kokoro-hart" class="p-sidebar__link" target="_blank" rel="noopener noreferrer">
            GitHub<span class="u-hidden">（(新しいウィンドウが開きます)）</span>
            <svg class="p-sidebar__blank-icon" width="13" height="13" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="m21 13v10h-21v-19h12v2h-10v15h17v-8zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172z" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="p-sidebar__content p-sidebar__sticky">
    <h2 class="p-sidebar__heading">
      カテゴリ
    </h2>
    <div class="p-sidebar__body">
      <ul class="p-sidebar__list">
        <li class="p-sidebar__item">
          <a href="" class="p-sidebar__link">
            HTML / CSS
          </a>
        </li>
        <li class="p-sidebar__item">
          <a href="" class="p-sidebar__link">
            JavaScript
          </a>
        </li>
        <li class="p-sidebar__item">
          <a href="" class="p-sidebar__link">
            WordPress
          </a>
        </li>
        <li class="p-sidebar__item">
          <a href="" class="p-sidebar__link">
            git
          </a>
        </li>
        <li class="p-sidebar__item">
          <a href="" class="p-sidebar__link">
            Webデザイン
          </a>
        </li>
        <li class="p-sidebar__item">
          <a href="" class="p-sidebar__link">
            UI / UX
          </a>
        </li>
        <li class="p-sidebar__item">
          <a href="" class="p-sidebar__link">
            アクセシビリティ
          </a>
        </li>
        <li class="p-sidebar__item">
          <a href="" class="p-sidebar__link">
            インタラクションデザイン
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>