<aside class="p-archive__sidebar p-sidebar">
  <div class="p-sidebar__profile p-profile">
    <h2 class="p-sidebar__heading">
      管理人
    </h2>
    <div class="p-profile__head">
      <img src="/img/common/profile.jpeg" alt="プロフィール画像" class="p-profile__img">
      <div class="p-profile__info">
        <h3 class="p-profile__name">K.Tobita</h3>
        <ul class="p-profile__list">
          <li class="p-profile__item">
            <a href="https://twitter.com/coco_hack_ll" class="p-profile__link" target="_blank" rel="noopener noreferrer">
              <svg class="c-svg p-profile__svg" width="20" height="20" aria-label="GitHubのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-github" />
              </svg>
              <span class="u-hidden">(新しいウィンドウが開きます)</span>
            </a>
          </li>
          <li class="p-profile__item">
            <a href="https://github.com/kokoro-hart" class="p-profile__link" target="_blank" rel="noopener noreferrer">
              <svg class="c-svg p-profile__svg" width="20" height="20" aria-label="Twitterのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-twitter" />
              </svg>
              <span class="u-hidden">(新しいウィンドウが開きます)</span>
            </a>
          </li>
          <li class="p-profile__item">
            <a href="https://kt-portfolio.site" class="p-profile__link" target="_blank" rel="noopener noreferrer">
              <svg class="c-svg p-profile__svg" width="20" height="20" aria-label="サイトリンクのアイコン">
                <use xlink:href="/img/svg/sprite.min.svg#icon-site" />
              </svg>
              <span class="u-hidden">(新しいウィンドウが開きます)</span>
            </a>
          </li>
        </ul>
        
      </div>
    </div>
    <p class="p-profile__text">
      マークアップエンジニアを目指して日々勉強中です。デザインもコーディングも大好きです。
    </p>
  </div>

  <div class="p-sidebar__content p-sidebar__sticky">
    <h2 class="p-sidebar__heading">
      カテゴリ
    </h2>
    <ul class="p-sidebar__list">
      <li class="p-sidebar__item">
        <a href="" class="p-sidebar__link">
          HTML / CSS
        </a>
      </li>
      <li class="p-sidebar__item">
        <a href="" class="p-sidebar__link">
          JavaScript
        </a>
      </li>
      <li class="p-sidebar__item">
        <a href="" class="p-sidebar__link">
          WordPress
        </a>
      </li>
      <li class="p-sidebar__item">
        <a href="" class="p-sidebar__link">
          git
        </a>
      </li>
      <li class="p-sidebar__item">
        <a href="" class="p-sidebar__link">
          Webデザイン
        </a>
      </li>
      <li class="p-sidebar__item">
        <a href="" class="p-sidebar__link">
          UI / UX
        </a>
      </li>
      <li class="p-sidebar__item">
        <a href="" class="p-sidebar__link">
          アクセシビリティ
        </a>
      </li>
      <li class="p-sidebar__item">
        <a href="" class="p-sidebar__link">
          インタラクションデザイン
        </a>
      </li>
    </ul>
  </div>
</aside>